<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.service.module.mapper.IpDataServiceXiaoHuanMapper">
    <insert id="insertIpDataXiaoHuan">
        INSERT IGNORE INTO ip_pool_main values
        <foreach collection="ipInfos" item="item" separator=",">
            (
            #{item.dataID},
            INET_ATON(#{item.ipNum}),
            #{item.ipPort},
            #{item.ipLocation},
            #{item.ipVendor},
            #{item.supportHttps},
            #{item.supportPost},
            #{item.anonymityDegree},
            #{item.accessSpeed},
            #{item.insertTime},
            #{item.lastDetectTime},
            #{item.statusCode},
            #{item.dataInsertTime},
            #{item.dataDetectTime}
            )
        </foreach>
    </insert>
</mapper>